h3 {
    font-size: 200%; 
    color: rgb(89, 89, 202); 
    text-align: center;
    font-family: 'Segoe UI', sans-serif;
    }

p {
    font-size: 80%; 
    color: rgb(96, 96, 142); 
    font-family: 'Segoe UI', sans-serif;
    }

h4 {
    font-size: 100%; 
    color: rgb(89, 89, 202); 
    font-family: 'Segoe UI', sans-serif;
    }

body {
    background-image: url("nphrgz8yfnjylrwfr0yl.webp");}

post {
    font-size: 100%; 
    color: rgb(96, 96, 142); 
    font-family: 'Segoe UI', sans-serif;
    }

interet {
    font-size: 100%; 
    color: rgb(96, 96, 142); 
    font-family: 'Segoe UI', sans-serif;
    }

 
